# macOS
.DS_Store

# Node / builds
node_modules/
cvweb-app/node_modules/
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Carpeta de cuarentena / archivos viejos
basura/
_basura/
_quarantine/